.formContainer {
  display: flex;
}

.formSection {
  margin: var(--sp-small);
}

@media screen and (max-width: 450px) {
  .formContainer {
    flex-direction: column;
  }

  .formSection {
    margin: var(--sp-xsmall);
  }
}
