:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --sp-xsmall: 0.5rem;
  --sp-small: 1rem;
  --sp-medium: 2rem;
  --sp-large: 4rem;

  --fs-small: 1rem;
  --fs-medium: 1.5rem;
  --fs-large: 2rem;

  --border-radius: 6px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  margin: var(--sp-small) 0;
}

h1 {
  color: rgb(70, 48, 172);
}
